:local(.container) {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  line-height: 1.5;
  color: #4a4a4a;

  :local(.avatar) {
    width: 21px;
    height: 21px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #efefef;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
