@import '../../../sass_modules/theme.scss';

:local(.input){
  width: 300px;
  margin-bottom: 3px;
}

:local(.arrow){
  position: absolute;
  line-height: 1;
  top: 10px;
  right: 10px;
  transform:scale(0.7) rotate(0deg);
  transition:transform 0.3s ease;
  opacity: 0.7;
  cursor: pointer;
}

:local(.selector){
  position: absolute;
  z-index: 12;
  user-select:none;
  width: 100%;
  height: 0;
  opacity: 0;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  overflow: hidden;
  line-height: 1.5;

  .ant-tabs-bar{
    margin-bottom: 8px;
  }
  .ant-tabs-nav {
    display: flex;
  }
  .ant-tabs-nav .ant-tabs-tab{
    height: 32px;
    width: 33.3%;
    margin-right: 0px;
    font-size: 12px;
    line-height: 1;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-inner{
    color: $primary-color;
  }

  .ant-tabs-nav{
    width: 100%;
  }

  .ant-tabs-nav .ant-tabs-tab-inner:hover{
    color: $primary-color;
  }

  .ant-tabs-ink-bar{
    background-color: $primary-color;
  }

  .ant-tabs-content{
    overflow-y: scroll;
  }

  .ant-tabs-tabpane{
    height: 200px;
  }

  :local(.normalSpan){
    display: inline-block;
    height: 20px;
    padding: 0 6px 0 6px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: default;
    color: #4a4a4a;
    background-color: inherit;
  }
  :local(.selectedSpan){
    display: inline-block;
    height: 20px;
    padding: 0 6px 0 6px;
    border-radius: 4px;
    border: 1px solid $primary-color !important;
    cursor: default;
    color: #ffffff !important;
    background-color: $primary-color;
  }

  :local(.provinceLayout){
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 6px;
    >div:first-child{
      width: 60px;
      text-align: center;
    }
    >div:nth-child(n+2){
      width: 239px;
      span{
        display: inline-block;
        height: 20px;
        padding: 0 6px 0 6px;
        border-radius: 4px;
        border: 1px solid transparent;
        cursor: default;
        color: #4a4a4a;
      }
    }
  }

  :local(.provinceContainer){
  }
  :local(.cityContainer){
    padding: 0 12px 0 12px;
    span{
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 5px;
      height: 20px;
      padding: 0 6px 0 6px;
      border-radius: 4px;
      border: 1px solid transparent;
      cursor: default;
      color: #4a4a4a;
    }
  }
  :local(.notFound){
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    padding-left: 14px;
    cursor: default;
    border-left: 2px solid transparent;
  }
  :local(.searchItem){
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    padding-left: 14px;
    cursor: default;
    border-left: 2px solid transparent;
    &:hover{
      background-color: #fafafa;
      border-left: 2px solid $primary-color;
    }

    span{
      color: $primary-color;
    }
  }
}
