:local(.container) {
  .ant-form{
    .ant-form-item-label{
      width: 90px !important;
    }
    :local(.btn){
      display:flex;
      align-items:center;
      button {
        width: 115px;
        height: 35px;
      }
      :local(.forget){
        font-size:14px;
        color:#4a90e2;
        margin-left:40px;
        cursor:pointer;
      }
    }
  }
}
