:local(.container) {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

:local(.header) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  height: 60px;
  flex-shrink: 0;
  width: 100%;
  border-bottom: solid 1px #e9e9e9;
  font-size: 14px;
  color: #4a4a4a;

  :local(.rightGroup) {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
}

:local(.content) {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  overflow: auto;

  :local(.toolBar){
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px 0;

    :local(.select){
      padding-right:10px;
      line-height: 30px;
      height:30px;
    }

    :local(.picker){
      width:240px;
      line-height: 30px;
      height: 30px;
      vertical-align: middle;
    }
    :local(.button){
      width: 150px;
      height: 30px;
      border-radius: 3px;
      border: solid 1px #d9d9d9;
      font-size: 14px;
      color: #666;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }
  }

  :local(.tabContainer){
    position: relative;
    :local(.total){
      position: absolute;
      right: 0px;

      &>div{
        display: inline-block;
        height: 22px;
      }
      :local(.name){
        color: #666;
        font-size:14px;
        font-weight: normal;
        padding-right: 10px;
      }
      :local(.value){
        color: #f55b6c;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .ant-tabs{
      .ant-tabs-bar{
        border-bottom:1px solid #e9e9e9;
      }
    }
  }

  .ant-tabs-tab {
    width: 88px;
    .ant-tabs-tab-inner {
      background-color: white;
      border-radius: 6px 6px 0 0;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      color: #9b9b9b;
    }
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-inner {
      background-color: #f7f7f7;
      color: #666!important;
    }
  }
}

:local(.table) {
  font-size: 12px;

  :local(.tableHeader) {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #f7f7f7;
    color: #9b9b9b;
    border-right: solid 1px #e9e9e9;
    border-left: solid 1px #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

    &>div {
      text-align: center;
    }

    :local(.icons) {
      height:100%;
      display:flex;
      align-items: center;
      flex-direction: row-reverse;
      &>div{
        display:inline-flex;
        flex-direction: column;
        justify-content: center;
        height: 100%
      }
      :local(.arrowIcon){
        width: 9px;
        &>svg{
          fill:#926dea;
        }
      }
      :local(.clockIcon){
        width: 12px;
        &>svg{
          fill:#bdbdbd;
        }
      }
    }

    :local(.headerType){
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      :local(.arrowDropDown){
        &>svg{
          fill:#ccc;
          width: 15px;
          padding-top: 5px;
        }
      }
      :local(.chooseTypeBox){
        width: 72px;
        height: 95px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        padding-top: 2px;
        position: absolute;
        left: 29px;
        top: 27px;
        &>div{
          width: 100%;
          height: 30px;
          line-height: 30px;
          font-size: 12px;
          color: #666666;
        }
        &>div:hover{
          background-color: #fbf8ff;
        }
      }
    }
  }

  :local(.tableContent) {

    :local(.subHeader){
      height: 30px;
      line-height: 30px;
      background-color: #f7f7f7;
      border: solid 1px #d9d9d9;
      border-top-width: 0;
      padding-left: 40px;

      :local(.text){
        font-size: 12px;
        color: #9b9b9b
      }
    }

    :local(.tableRow) {
      height: 40px;
      display: flex;
      align-items: stretch;
      font-size: 12px;
      color: #666;
      cursor: pointer;

      :local(.specialLeft){
        width:30px;
        flex-shrink:0;
        background-color: #f7f7f7;
        cursor:default;
        color:#9b9a9b;
      }
      :local(.specialMiddle){
        width:590px;
        flex-shrink:0;
        text-align:left;
        padding-left:22px;
        cursor:default;
      }
      :local(.specialRight){
        width:100%;
        border-right-width: 1px;
        cursor:default;
      }
      &>div {
        line-height: 40px;
        text-align: center;
        border: 1px solid #d9d9d9;
        border-right-width: 0px;
        border-top-width: 0px;
      }



      :local(.tableDataIndex) {
        width: 30px;
        flex-shrink: 0;
        background-color: #f7f7f7;
        color: #9b9b9b;
      }

      :local(.tableDataType) {
        width: 70px;
        flex-shrink: 0;
      }

      :local(.tableDataId) {
        width: 150px;
        flex-shrink: 0;
      }

      :local(.tableDataReceiver) {
        //width: 100%;
        //width:160px;
        width: 120px;
        flex-shrink:0;
      }

      :local(.tableDataOperator) {
        //width: 100%;
        display: flex;
        align-items: center;
        width:200px;
        flex-shrink:0;

        :local(.avatar) {
          width: 24px;
          height: 24px;
          border-radius: 12px;
          background-color: gray;
          margin-left: 20px;
          margin-right: 7px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      :local(.tableDataCount) {
        width: 100%;
      }
      :local(.tableDataAddup) {
        width: 100%;
        border-right-width: 1px;
      }
    }
  }
}

:local(.detailModalContainer) {
  color: #4a4a4a;

  :local(.basicInfo) {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    border-radius: 3px;
    background-color: #fafdff;
    border: solid 1px #cedcee;
    padding: 10px 20px;

    :local(.left) {
      & > div {
        margin: 10px 0;
        span {
          color: #9b9b9b;
        }
      }
    }

    :local(.right) {
      color: #f55b6c;
      font-weight: 500;
    }
  }

  :local(.basicInfoGoods){
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    border-radius: 3px;
    background-color: #fafdff;
    border: solid 1px #cedcee;
    padding: 10px 20px;

    span {
      color: #9b9b9b;
    }

    &>div{
      width: 100%;
    }

    :local(.spaceBetween){
      display:flex;
      justify-content: space-between;

      &>div:last-child{
        margin-right: 90px;
      }
    }

    :local(.goodsList){
      padding: 20px 30px 0 10px;
      :local(.item){
        display:flex;
        justify-content: space-between;
        height: 50px;
        line-height: 50px;
        align-items: center;
        border-bottom: dashed 1px #cddced;
      }

      :local(.item:last-child){
        border: solid 1px transparent;
      }

      :local(.itemLeft){
        &>div{
          display: inline-block;
        }

        :local(.image){
          width:30px;
          height:30px;
          background-color: #e9e9e9;
          position: relative;
          top:10px;
          margin-right: 5px;
          &>img{
            width: 100%;
            height: 100%;
          }
        }

      }
      :local(.itemRight){

      }
    }
  }

  :local(.operatorInfo) {
    font-size: 14px;
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    margin-bottom: 18px;
    justify-content: space-between;
    padding-right: 40px;

    :local(.operator) {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  :local(.detailModalHeader) {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;

    :local(.transactionType) {
      width: 34px;
      height: 20px;
      border-radius: 6px;
      font-size: 12px;
      color: white;
      text-align: center;
      margin-right: 10px;
    }
  }
}

:local(.noEntry) {
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  display: flex;
  color: #9b9b9b;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }
}
