@import '~theme.scss';

:local(.container) {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  box-shadow: $box-shadow;
	position: fixed;
	// z-index: 18;
	padding-top: 0;

  :local(.tabContainer) {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;

    .ant-tabs-bar {
      border-bottom: 1px solid #e9e9e9;
    }
  }

  :local(.close) {
    position: absolute;
    top: 11px;
    right: 0;
    width: 100px;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    color: #000;
    opacity: 0.35;
  }

  :local(.workCounts) {
    position: absolute;
    top: 29px;
    left: 362px;

    width: 18px;
    height: 18px;
    background-color: #f45b6c;
    color: #ffffff;
    border-radius: 50%;

    font-size: 12px;
  	font-weight: 600;
  	text-align: center;

  }
}
