:local(.container) {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(119deg, #374363, #644475);
  display: flex;
  justify-content: center;
  align-items: center;

  :local(.header) {
    margin-top: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    :local(.returnToAffair) {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        margin-right: 8px;
        fill: #fff;
        width: 25px;
        height: 25px;
      }

      cursor: pointer;
      font-size: 16px;
      letter-spacing: 0.7px;
      text-align: center;
      color: #ffffff;
    }

    :local(.loginOrSignup) {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #ffffff;

      div {
        cursor: pointer;
      }

      span {
        width: 1px;
        height: 19px;
        background-color: rgba(255, 255, 255, 0.3);
        margin: 0 12px;
      }
    }
  }
}

:local(.affairContent) {
  padding: 20px 30px 30px 20px;
  display: flex;

  :local(.affairContentRightPanel) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 34px;
    padding-left: 20px;
    width: 350px;

    :local(.affairDescription) {
      width: 100%;
      height: 336px;
      font-size: 14px;
      line-height: 1.71;
      color: #4a4a4a;
    }

    :local(.tags) {
      display: flex;
      flex-wrap: wrap;

      .ant-tag {
        margin-right: 8px;
      }
    }
  }
}

:local(.affairContainer) {
  width: 900px;
  height: 500px;
  height: 500px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 0.5px;

  :local(.affairHeader) {
    height: 68px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    :local(.affairHeaderLeft) {
      display: flex;

      p {
        font-size: 18px;
        font-weight: 500;
        color: #4a4a4a;
        line-height: 40px;
        text-align: center;
        margin-left: 15px;
      }
    }
  }
}

:local(.appliedPanel) {
  width: 500px;
  height: 300px;
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;

  :local(.invalidShareTitle) {
    font-size: 20px;
    font-weight: 500;
    color: #f55b6c;
    margin-bottom: 20px;

    .anticon-cross-circle {
      margin-right: 10px;
    }
  }

  :local(.appliedPanelTitle) {
    font-size: 20px;
    font-weight: 500;
    color: #2b9300;
    margin-bottom: 20px;

    .anticon-check-circle {
      margin-right: 10px;
    }
  }

  p {
    width: 383px;
    height: 42px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #9b9b9b;
    margin-bottom: 40px;
  }
}

:local(.wrapper) {
  opacity: 0;
  position: absolute;
  transition: opacity .3s ease-out;
}
:local(.userValidation) {
  opacity: 0;
  position: absolute;
  transition: opacity .3s ease-out, transform .3s ease-out;
  transform: translateX(40px);
  margin-top: 20px;
}

:local(.backButton) {
  text-align: center;
  margin-top: 60px;
  cursor: pointer;
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
  svg {
    position: relative;
    top: 0.5px;
    width: 23px;
    fill: #fff;
  }
  div {
    margin-left: 8px;
    color: #fff;
    font-size: 16px;
  }
}


:local(.transparentContainer) {
  :local(.wrapper) {
    z-index: 4;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(119deg, #374363, #644475);
    opacity: 0.5;
  }
  :local(.userValidation) {
    opacity: 1;
    z-index: 8;
    transform: translateX(0px);
  }
}
