@import "~theme.scss";
@import "~global.scss";

:local(.noticeItem) {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px dashed #eee;
  width: 100%;

  @extend .u-text-14;
  display: flex;
  border-bottom: 1px dashed #eee;
  cursor: default;
  transition: 0.3s;

  &:hover {
    background-color: $bg-content;
  }

  svg {
    width: 16px;
    height: 16px;
    fill: $primary-color;
    position: relative;
    margin-right: 6px;
    cursor: default;
    flex: 0 0 auto;
  }

  :local(.dropDownIcon) {
    top: 3px;
    margin-left: 5px;
    fill: #aaa;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }

  a {
    font-weight: $font-bold;

    &:hover {
      text-decoration: underline;
    }
  }

  & > div {
    display:flex;
    position: relative;
    height: 40px;
    line-height: 40px;
    align-items: center;
  }
  :local(.mainItem) {
    &:hover {
    }
  }
  :local(.subItem) {
    padding-left: 22px;
  }
  :local(.subItem::before) {
    content: '-';
    margin-right: 5px;
  }
  .disabled {
    color: $normal-color;
    font-weight: $font-normal;

    a {
      font-weight: $font-normal;
    }

    svg {
      fill: #cccccc;
    }
  }
  :local(.time) {
    font-size: 14px;
    color: #9b9b9b;
    flex: 0 0 auto;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
  }

  :local(.btnPanel) {
    display: inline-block;

    button {
      margin-right: 5px;
    }
  }
}
