:local(.container){
  width:300px;
  height: 100%;
  overflow: auto;
  display:flex;
  flex-direction:column;
  padding:0px 20px 0px 20px;
  border-radius:2px;
  background-color:#fafafa;
  position:relative;
  :local(.closeIcon){
    position:absolute;
    right:15px;
    top:12px;
    opacity:0.4;
  }
  :local(.memberCard){
    width:100%;
    margin-top:20px;
    :local(.title){
      font-size:12px;
      color:#4a4a4a;
      margin-left:1px;
      margin-bottom:10px;
      height:14px;
      display:inline-block;
    }
  }
  :local(.fuckAdd){
    display:flex;
    flex-direction:column;
    margin-top:20px;
    margin-bottom:20px;
    flex-shrink:0;
    :local(.text){
      font-size:12px;
      color:#4a4a4a;
    }
    .ant-select{
      margin-top:8px;
      height:26px;
      width:250px;
    }
  }
  :local(.roleCard){
    width:100%;
    padding-top:20px;
    display:flex;
    flex-direction:column;
    flex-shrink: 0;
    margin-bottom:10px;
    :local(.title){
      margin-left:1px;
      display:inline-block;
      font-size:12px;
      color:#4a4a4a;
      height:14px;
    }
    :local(.linkDiv){
      margin-top:11px;
      display:flex;
      flex-direction:row;
      align-items:stretch;
      line-height:14px;
      :local(.link){
        font-size:12px;
        color:#4a90e2;
        display:flex;
        align-items:center;
        cursor:pointer;
        span{
          margin-left:3px;
        }
      }
    }
    :local(.cardContainer){
      margin-top:10px;
      margin-bottom:10px;
      :local(.noRole){
        width:250px;
        height:130px;
        background-color:white;
        border-radius:10px;
        border:1px dashed #cccccc;
        display:flex;
        flex-direction:column;
        align-items:center;
        :local(.text){
          margin-top:33px;
          margin-bottom:11px;
          height:30px;
          font-size:14px;
          color:#9b9b9b;
        }
      }
    }
    :local(.historyRole){
      display:flex;
      align-items:center;
      color:#bdbdbd;
    }
    :local(.historyRoleContainer){
      display:flex;
      flex-direction:column;
      margin-top:10px;
      :local(.card){
        margin-bottom:10px;
      }
    }

  }
  :local(.msgPanel){
    width:100%;
    padding-top:19px;
    :local(.title){
      display:inline-block;
      font-size:12px;
      color:#4a4a4a;
      height:14px;
    }
    :local(.info){
      margin-top:20px;
      padding-left:10px;
      display:flex;
      flex-direction:column;
      :local(.infoline){
        display:flex;
        align-items:baseline;
        margin-bottom:20px;
        :local(.attr){
          display:inline-block;
          width:60px;
          font-size:12px;
          color:#9b9b9b;
        }
        :local(.content){
          margin-left:4px;
          display:inline-block;
          font-size:14px;
          font-weight:300;
          line-height:14px;
          color:#4a4a4a;
          width:149px;
          text-overflow:ellipsis;
          word-break:break-all;
          overflow:hidden;
        }
        :local(.tagContainer){
          margin-left:4px;
          height:22px;
          .ant-tag{
            background-color:white;
            cursor:default;
          }
        }
      }
    }
  }
  :local(.footer){
    margin-bottom:39px;
    margin-top:20px;
    display:flex;
    :local(.button){
      width:85px;
      padding:0px;
    }
    :local(.button):first-child{
      margin-left:40px;
      margin-right:10px;
    }
  }
}

