:local(.receiveAssetContainer){
  .ant-modal{
    width:500px!important;
    .ant-modal-content{
      .ant-modal-close{
        right:23px;
        top:23px;
      }
      .ant-modal-header{
        padding:20px 0px 0px 20px;
      }
      .ant-modal-body{
        padding:0px 0px 37px 0px;
        :local(.info){
          margin-top:42px;
          display:flex;
          flex-direction:column;
          margin-left:64px;
          :local(.row){
            display:flex;
            align-items:center;
            margin-bottom:18px;
            :local(.key){
              font-size:14px;
              color:#4a4a4a;
              width:70px;
            }
            :local(.value){
              font-size:14px;
              color:#666666;
            }
          }
        }
        :local(.apply){
          width:420px;
          margin-left:40px;
          border-radius:3px;
          border:solid 1px #cedcee;
          background-color:#fafdff;
          padding-left:20px;
          padding-right:20px;
          display:flex;
          flex-direction:column;
          :local(.row){
            &:last-child{
              border-bottom:none;
            }
            display:flex;
            border-bottom:1px dashed #cddced;
            padding-bottom:10px;
            :local(.avatar) {
              margin-top:13px;
              width: 30px;
              height: 30px;
              flex-shrink:0;
            }
            :local(.right){
              margin-top:10px;
              display:flex;
              flex-direction:column;
              justify-content:center;
              :local(.basic){
                display:flex;
                align-items:center;
                flex-shrink:0;
                :local(.detail){
                  flex-shrink:0;
                  width:178px;
                  :local(.name){
                    font-size:12px;
                    color:#666666;
                    margin-left:5px;
                  }
                  :local(.number){
                    color:#9b9b9b;
                    font-size:12px;
                    margin-left:3px;
                  }
                }
                :local(.price){
                  flex-shrink:0;
                  width:80px;
                  font-size:12px;
                  color:#666666;
                  font-weight:500;
                }
                :local(.btn){
                  flex-shrink:0;
                  button:first-child{
                    background-color:#90b5df;
                    color:#ffffff;
                  }
                  .ant-btn{
                    width:40px;
                    height:20px;
                    padding:0px;
                    border-radius:3px;
                  }
                  .ant-btn-ghost{
                    color:#9b9b9b;
                    background-color:white;
                  }
                  button+button{
                    margin-left:10px;
                  }
                }
              }
              :local(.log){
                padding-left:5px;
                font-size:12px;
                margin-top:4px;
                :local(.accept){
                  color:#00ac00;
                }
                :local(.refuse){
                  color:#f55b6c;
                }
              }
            }
            .ant-checkbox-wrapper{
              margin-right:9px;
              padding-top:13px;
            }


          }
          :local(.signAll){
            height:48px;
            display:flex;
            align-items:center;
            justify-content:flex-end;
            color:#4990e2;
            font-size:12px;
            span{
              cursor:pointer;
            }
          }
          :local(.isSigningAll){
            height:48px;
            display:flex;
            align-items:center;
            :local(.key){
              width:60px;
              font-size:12px;
              color:#666666;
            }
            .ant-select-selection--single{
              width:200px;
              height:28px;
            }
            :local(.btn){
              margin-left:50px;
              :local(.cancel){
                font-size:12px;
                color:#9b9b9b;
                cursor:pointer;
              }
              :local(.ok){
                margin-left:20px;
                color:#4990e2;
                font-size:12px;
                cursor:pointer;
              }
            }
          }
        }
      }
      .ant-modal-footer{
        padding:0px;
      }
    }
  }
}
.ant-popover{
  :local(.signContainer){
    width:293px;
    padding:20px 15px 0px 15px;
    :local(.row){
      display:flex;
      align-items:center;
      margin-bottom:10px;
      :local(.key){
        width:60px;
        font-size:12px;
        color:#666666;
      }
      :local(.unit){
        font-size:14px;
        color:#666666;
        margin-left:13px;
      }
      .ant-input-number{
        width:66px;
      }
      .ant-input{
        height:28px;
        width:200px;
      }
      .ant-select-selection--single{
        width:200px;
        height:28px;
      }
    }
    :local(.footer){
      padding-top:5px;
      margin-bottom:15px;
      display:flex;
      justify-content:flex-end;
      padding-right:4px;
      :local(.ok){
        color:#4990e2;
        font-size:12px;
        font-weight:500;
        cursor:pointer;
      }
      :local(.cancel){
        margin-right:10px;
        color:#9b9b9b;
        font-size:12px;
        cursor:pointer;
      }
    }
  }
}