:local(.sendAssetContainer){
  .ant-modal{
    width:500px!important;
    .ant-modal-content{
      .ant-modal-close{
        right:23px;
        top:23px;
      }
      .ant-modal-header{
        padding:20px 0px 0px 20px;
      }
      .ant-modal-body{
        padding:0px;
        :local(.assetName){
          margin-left:64px;
          margin-top:40px;
          margin-bottom:25px;
          display:flex;
          align-items:center;
          :local(.key){
            width:70px;
            font-size:14px;
            color:#4a4a4a;
          }
          :local(.value){
            font-size:14px;
            color:#666666;
          }
        }
        :local(.row){
          margin-left:64px;
          margin-bottom:20px;
          display:flex;
          align-items:center;
          position:relative;
          height:32px;
          line-height:32px;
          :local(.key){
            width:70px;
            font-size:14px;
            color:#666666;
          }
          :local(.value){
            font-size:14px;
            color:#666666;
          }
          :local(.unit){
            color:#9b9b9b;
            font-size:12px;
            margin-left:10px;
          }
          :local(.require){
            color:#f55b6c;
            font-size:20px;
            position:absolute;
            left:-15px;
            top:3px;
          }
          .ant-input{
            height:32px;
            width:300px;
          }
          .ant-select-selection--single{
            width:300px;
            height:32px;
          }
          .ant-input-number{
            width:88px;
          }
        }
      }
      .ant-modal-footer{
        padding:10px 30px 20px 0px;
        .ant-btn{
          padding:0px;
          width:68px;
        }
        button+button{
          margin-left:8px;
        }
      }
    }

  }
}