@import "~theme.scss";

:local(.groupModal) {
  .ant-modal-body {
    padding-top: 6px;
    padding-bottom: 0;

    :local(.row) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 20px 24px;

      .danger {
        color: $danger-color;
        margin-left: 8px;
      }
    }

    :local(.roleList) {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 auto;
      width: 80%;

      :local(.role) {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    :local(.roleContainer) {
      background-color: $bg-content;
      width: 100%;
      height: 280px;
      border: solid 1px #e9e9e9;
      display: flex;

      :local(.roles) {
        width: 65%;
        height: 100%;
        border-right: solid 1px #e9e9e9;
        padding: 10px 0 10px 10px;
        overflow: auto;

        :local(.searchField) {
          position: relative;
          width: 175px;
          margin-bottom: 10px;

          .ant-input {
            height: 28px;
            padding: 3px 20px 3px 4px;
          }

          :local(.searchIcon) {
            position: absolute;
            right: 2px;
            top: 3px;
            height: 24px;
            width: 24px;

            svg {
              fill: $normal-color;
              height: 24px;
              width: 24px;
              padding: 4px 1px 4px 4px;
            }
          }
        }

        :local(.checkList) {
          :local(.role) {
            margin-bottom: 4px;
          }
        }
      }

      :local(.selectedRoles) {
        width: 35%;
        height: 100%;
        overflow: auto;
        padding: 10px 0 10px 10px;

        .ant-checkbox-wrapper {
          margin: 5px 0;
        }
      }

      :local(.checkList) {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;

        .ant-checkbox-wrapper {
          display: flex;
          align-items: center;

          & + .ant-checkbox-wrapper {
            margin-left: 0;
          }

          :local(.role) {
            :local(.name) {
              width: 112px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }

    :local(.role) {
      display: flex;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 8px;
        background-color: #d8d8d8;
      }
    }
  }

  .ant-modal-footer {
    padding: 10px 30px 30px 10px;
  }
}