:local(.resetPasswordModal){
  .ant-modal-content{
    .ant-modal-close-x {
      right: 23px;
      top: 23px;
    }
    .ant-modal-header{
      padding:20px 0px 0px 20px;
    }
    .ant-modal-body{
      padding: 20px 20px 0px 20px;
      .ant-tabs-nav-wrap{
        .ant-tabs-nav{
          width:100%;
          .ant-tabs-ink-bar{
            background-color:#926dea;
          }
          .ant-tabs-tab{
            height:auto;
            margin:0px;
            width:50%;
            .ant-tabs-tab-inner{
              display:flex;
              justify-content:center;
              :local(.title){
                display:flex;
                align-items:center;
                span{
                  margin-left:14px;
                }
              }
            }
          }
        }

      }
      .ant-tabs-content{
        :local(.phoneContainer){
          display:flex;
          flex-direction:column;
          :local(.content){
            display:flex;
            flex-direction:column;
            align-items:center;
            :local(.title){
              color:#4a4a4a;
              font-size:14px;
              margin-top:34px;
              margin-bottom:20px;
            }
            .ant-form{
              width:100%;
              :local(.row){
                margin-bottom:0px;
                .ant-form-item-control{
                  line-height:28px;
                  display:flex;
                  margin-bottom:30px;
                  position:relative;
                  :local(.label){
                    font-size:14px;
                    color:#9b9b9b;
                    margin-right:5px;
                    text-align:right;
                    width:100px;
                  }
                  :local(.value){
                    margin-left:6px;
                    font-size:14px;
                    color:#4a4a4a;
                  }
                  :local(.btn){
                    display:flex;
                    align-items:center;
                    .ant-btn{
                      height:28px;
                      width:115px;
                      border-radius:3px;
                      padding:0px;
                      margin-left:10px;
                    }
                  }
                  .ant-input{
                    height:28px;
                  }
                  .ant-form-explain{
                    position:absolute;
                    left:105px;
                    top:30px;
                  }
                }
              }
            }
          }
          :local(.footer){
            margin-bottom:30px;
            padding-right:30px;
            display:flex;
            justify-content:flex-end;
            .ant-btn{
              height:35px;
              width:68px;
              border-radius:3px;
              padding:0px;
              margin-left:10px;
            }
          }
        }
        :local(.emailContainer){

        }
      }
    }
    .ant-modal-footer{
      padding:0px;
    }
  }
}
