:local(.changeRoleModal){
  .ant-modal-content{
    .ant-modal-close-x{
      right:23px;
      top:23px;
    }
    .ant-modal-header{
      padding:20px 0px 0px 20px;
    }
    .ant-modal-body{
      padding:0px;
      :local(.content){
        display:flex;
        flex-direction:column;
        padding:10px 30px 0px 40px;
        :local(.formRow){
          margin-top:20px;
          display:flex;
          padding-left:2px;
          align-items:center;
          :local(.tag){
            color:#4a4a4a;
            font-size:14px;
            width:56px;
          }
          :local(.roleTitle){
            color:#4a4a4a;
            font-size:14px;
            margin-left:14px;
          }
          .ant-input{
            width:300px;
            height:32px;
          }
        }
        :local(.choose){
          margin-top:13px;
          display:flex;
          flex-direction:column;

          :local(.choosePanel){
            border:1px solid #e9e9e9;
            display:flex;
            height:250px;
            :local(.left){
              flex-shrink:0;
              position:relative;
              padding-top:10px;
              border-right:1px solid #e9e9e9;
              background-color:#fafafa;
              width:101px;
              display:flex;
              flex-direction:column;
              :local(.row){
                height:30px;
                display:flex;
                align-items:center;
                justify-content:center;
                font-size:12px;
                cursor:pointer;
              }
              :local(.motion){
                position:absolute;
                right:-2px;
                background-color:#926dea;
                height:30px;
                width:3px;
              }
            }
            :local(.right){
              overflow:auto;
              padding:0px 10px;
              width:100%;
              :local(.inAffair){
                display:flex;
                flex-direction:column;
                :local(.title){
                  margin-top:8px;
                  margin-bottom:6px;
                  height:26px;
                  display:flex;
                  align-items:center;
                  justify-content:space-between;
                  :local(.type){
                    color:#666666;
                    font-size:12px;
                    display:flex;
                    align-items:center;
                    flex-shrink:0;
                  }
                  :local(.search){
                      position:relative;
                      .ant-input{
                        height:26px;
                        width:175px;
                      }
                      svg{
                        position:absolute;
                        right:-1px;
                        top:7px;
                      }
                    }
                    :local(.menkorBtn){
                      background-color:#90b5df;
                      height:24px;
                      width:90px;
                      border-radius:3px;
                      display:flex;
                      color:#ffffff;
                      align-items:center;
                      justify-content:center;
                      margin-left:10px;
                    }
                  :local(.right){
                    display:flex;
                    align-items:center;
                    justify-content:flex-end;
                    :local(.search){
                      position:relative;
                      .ant-input{
                        height:26px;
                        width:175px;
                      }
                      svg{
                        position:absolute;
                        right:-1px;
                        top:7px;
                      }
                    }
                    :local(.menkorBtn){
                      background-color:#90b5df;
                      height:24px;
                      width:90px;
                      border-radius:3px;
                      display:flex;
                      color:#ffffff;
                      align-items:center;
                      justify-content:center;
                      margin-left:10px;
                    }

                  }
                }
                :local(.show){
                  display:flex;
                  flex-direction:column;
                  margin-bottom:8px;
                  :local(.header){
                    display:flex;
                    align-items:center;
                    color:#9b9b9b;
                    font-size:12px;
                    height:24px;
                    background-color:#fafafa;
                    border-top:1px solid #eeeeee;
                    border-bottom:1px solid #eeeeee;
                    :local(.roleName){
                      text-align:left;
                      width:130px;
                      padding-left:41px;
                    }
                    :local(.belongAffair){
                      width:80px;
                      text-align:left;
                    }
                    :local(.userName){
                      width:70px;
                      text-align:left;
                    }
                    :local(.tag){
                      width:117px;
                      text-align:left;
                    }
                  }
                  :local(.row){
                    display:flex;
                    align-items:center;
                    border-bottom:1px solid #eeeeee;
                    .ant-radio-wrapper{
                      height:38px;
                      cursor:pointer;
                      margin:0px;
                      display:flex;
                      align-items:center;
                      .ant-radio{
                        margin-left:10px;
                        margin-right:10px;
                      }
                      span:nth-child(2){
                        display:flex;
                        align-items:center;
                        :local(.roleName){
                          width:83px;
                          margin-right:5px;
                          text-align:left;
                          text-overflow:ellipsis;
                          overflow:hidden;
                        }
                        :local(.belongAffair){
                          width:75px;
                          margin-right:5px;
                          text-align:left;
                          text-overflow:ellipsis;
                          overflow:hidden;
                        }
                        :local(.userName){
                          width:65px;
                          margin-right:5px;
                          text-align:left;
                          text-overflow:ellipsis;
                          overflow:hidden;
                        }
                        :local(.tag){
                          width:112px;
                          margin-right:5px;
                          text-algin:left;
                          text-overflow:ellipsis;
                          overflow:hidden;
                        }
                      }

                    }
                  }
                }
              }
              :local(.inAlliance){
                :local(.title){
                  display:flex;
                  justify-content:space-between;
                  color:#9b9b9b;
                  font-size:12px;
                  align-items:center;
                  margin-bottom:7px;
                  :local(.search){
                    position:relative;
                    .ant-input{
                      height:26px;
                      width:175px;
                    }
                    svg{
                      position:absolute;
                      right:-1px;
                      top:7px;
                    }
                  }
                }
                :local(.showPanel){
                  display:flex;
                  flex-direction:column;
                  padding-left:5px;
                  margin-bottom:8px;
                  :local(.row){
                    margin-bottom:10px;
                    .ant-radio-wrapper{
                      display:flex;
                      align-items:center;
                      span:nth-child(2){
                        display:flex;
                        align-items:center;
                        :local(.avatar){
                          width:24px;
                          height:24px;
                          border-radius:100%;
                        }
                        :local(.rolename){
                          font-size:12px;
                          color:#666666;
                          margin-left:8px;
                          margin-right:8px;
                        }
                        :local(.username){
                          font-size:12px;
                          color:#9b9b9b;
                        }
                      }
                    }
                  }
                }
              }
            }

          }
        }
      }
    }
    .ant-modal-footer{
      padding:30px;
      .ant-btn:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
}

:local(.affairPopover){
    .ant-popover-inner-content{
      padding:0px;
    }
    .ant-popover-inner{
      :local(.belongAffairPopover){
        width:200px;
        height:250px;
        overflow:auto;
        :local(.inAlliance){
          :local(.title){
            display:flex;
            align-items:center;
            padding-left:26px;
            height:40px;
            cursor:pointer;
            &:hover{
              background-color:#fbf8ff;
            }
          }
          :local(.content){
            display:flex;
            .ant-tree{
              li{
                margin:5px 0!important;
              }
              .ant-checkbox-wrappr{
                display:flex;
                align-item:center;
              }
            }

          }
          :local(.allianceContent){
             .ant-checkbox-wrapper{
              display:flex;
              align-items:center;
              height:30px;
              padding-left:25px;
            }
          }
        }
      }
    }
}

