:local(.container) {

  .ant-modal-header {
    padding: 20px;
  }

	.ant-modal-body {
		padding: 0;

	}

  .ant-modal-footer{
    text-align: left;
    padding: 20px;
    :local(.label) {
      font-size: 14px;
      width: 80px;
      color: #4a4a4a;
      display: inline-block;
      &::after {
        content: '：';
      }
    }
    :local(.value) {
      font-size: 14px;
      color: #666666;
      display: inline-block;

      & > div {
        display: inline-block;
      }
      :local(.role) {
        margin-left: 25px;
      }
      :local(.resultAgree),
      :local(.resultRefuse) {
        font-size: 14px;
        margin-left: 10px;
      }

      :local(.resultAgree) {
        color: #2b9300;
      }

      :local(.resultRefuse) {
        font-weight: 500;
        color: #f55b6c;
      }

      :local(.reasonWrapper){
        display: block;
        font-size:12px;
        color: #666666;

        :local(.reason){
          margin-left:10px;
          color: #9b9b9b;
        }
      }
    }
  }
}

:local(.announcementModal) {
  .ant-modal-body {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  .ant-modal-footer {
    :local(.label) {
      vertical-align: top;
    }
  }
}
